<nav-bar></nav-bar>
<center>
    <h1>Payment Method</h1>
    <div class="payment-head"><input class="checkbox" type="checkbox" ng-model="checkbtn1"/>Credit or Debit Card </div>
    <form ng-if="checkbtn1" class="pay-content">
        <h3>Card details</h3>
        <input placeholder="Enter card number" required/>
        <div style="display: flex; width: 88%;">
            <input placeholder="Month" required/>
            <input placeholder="Year" required/>
        </div>
        <br>
        <button ng-click="goTo('/success')">Pay</button>        
    </form>
    <div class="payment-head"><input class="checkbox" type="checkbox" ng-model="checkbtn2"/>UPI </div>
    <form ng-if="checkbtn2" class="pay-content">
        <h3>UPI ID</h3>
        <input placeholder="Enter UPI Id" required/>
        <br>
        <button ng-click="goTo('/success')">Pay</button>
    </form>
    <br>
</center>